<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sahur notepad</title>
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
        <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
    </head>
    <body>
        <h1>Sahur shopping list</h1>
        <textarea id="note-content">{{ current_text }}</textarea>
        <button id="save-btn">Save Changes</button>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>